<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/e1942af5f1.js" crossorigin="anonymous"></script>
    <style>
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color:  #E1E1E1 ;
}

/* grid definition */
.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.8fr 5fr;
  grid-template-rows: 60px 1fr 50px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  grid-column: 1 / span 2;
  background-color:  #F2F2F2  ;
  color:  #1F1F1F ;
  padding: 0.5rem;
  position: relative;
  gap: 72rem;
  border-radius: 10px;
}

.sidebar {
  grid-row: 2 / span 1;
  background-color: #FFFFFF ;
  padding: 1rem;
  margin:5px
}

.main {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  padding: 0.5rem 1rem;
}

.footer {
  grid-column: 1 / span 2;
  background-color:  #F2F2F2 ;
  color: #1F1F1F;
  padding: 1rem;
  text-align: center;
  margin:3px
}

.subheader{
  background-color: #F8F8F8 ;
  color: #1F1F1F;
  padding: 0.5rem;
  display: block;
  border-radius: 5px;
  margin: 3px 3px 7px 3px ;
}

/* style for form element */
form {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
}
.form-group label {
  font-weight: normal;
  margin-bottom: 5px;
}
.form-control {
  border-radius: 0;
}
.form-control:focus {
  box-shadow: none;
}
.form-group small {
  color: #6c757d;
  font-size: 12px;
}
/* Style the submit button */
button[type="submit"] {
  background-color: #046380;
  border-color: #046380;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
button[type="submit"]:hover {
  background-color: #2c3e50;
  border-color: #2c3e50;
}
button[type="reset"] {
  background-color: #2c3e50;
  border-color: #2c3e50;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
button[type="reset"]:hover {
  background-color: #046380;
  border-color: #046380;
}

.sidebar .nav-item a,
.sidebar .nav-item a::after,
.sidebar .nav-item a::before {
  box-sizing: content-box;
}
.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  display: block;
  width: 80%;
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: #2c3e50;
  border-radius: 1rem;
}
.nav-link.active {
  background-color: #046380;
  color: white;
}
i {
  margin-right: 5px;
}
/* alert message */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
  display: none;
}
.alert-success {
  z-index: 10000;
}


    </style>
  </head>

  <body>
    <div class="grid-container">

      <div class="header">
        <div><h3 id = "headTitle" style="font-weight: bold;">LabBuddy</h3></div>
        <div><select name = "user" style="border:none;box-shadow:none;" id="user-menu">
          <option value="" disabled selected><%= user %></option>
          <option value="/login/Instructor">My Courses</option>
          <option value="/logout">Logout</option>
        </select></div>
      </div>

      <div class="sidebar">
        <p><%=course%></p>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/login/Instructor/<%=course %>">
              <i class="fa-solid fa-file-arrow-up"></i> Post
            </a>
          </li>
          <li class="nav-item" style="margin-bottom: -15px;">
            <a class="nav-link" href="/login/Instructor/<%=course %>/announcement">
              <i class="fa-solid fa-file-arrow-up"></i> Announcement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login/Instructor/<%=course %>/grade">
              <i class="fa-solid fa-check"></i> Grade
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login/Instructor/<%=course %>/report">
              <i class="fa-solid fa-square-poll-vertical"></i> Reports
            </a>
          </li>
        </ul>
      </div>

      <div class="main">
        <div class = "subheader"><h3 >Post Assignments</h3></div>

        <!-- Overlay to disable the window -->
        <div class="overlay"></div>

        <!-- Alert message -->
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="display:none;">
          Form submitted successfully.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
                
        <form action="/login/Instructor/<%=course %>/assignment" method="post" enctype="multipart/form-data" onsubmit="showAlert()">
          <div class="form-row">
            <div class="form-group col">
              <label for="field1">Course ID</label>
              <input required="" type="text" class="form-control" name="courseID" value=<%= course %> readonly>
            </div>
            <div class="form-group col">
              <label for="field2">Assignment Title</label>
              <input required="" type="text" class="form-control" name="title" placeholder="Enter field 2">
            </div>
          </div>
          <div class="form-group">
            <label for="field3">Assignment Description</label>
            <textarea class="form-control" name="description" rows="5" cols="50"></textarea>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label for="field4">Submission Date</label>
              <input required="" type="date" class="form-control" name="submissionDate" placeholder="Enter field 4">
            </div>
            <div class="form-group col">
              <label for="field5">Assignmnet Marks</label>
              <input required="" type="number" class="form-control" name="points" placeholder="Enter field 5">
            </div>
          </div>
          <div class="form-group">
            <label for="pdf">Assignment File (if any):</label><br>
            <input type="file" class="form-control" name="pdf"><br>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
        </form>

      </div>
      
      <div class="footer">
          <p>&copy; 2023 anubhavbinit</p>
      </div>

    </div>

    <script>
    
      document.addEventListener('DOMContentLoaded', function() {
          var navLinks = document.querySelectorAll('.nav-link');
          navLinks.forEach(function(navLink) {
            navLink.addEventListener('click', function() {
              navLinks.forEach(function(link) {
                link.classList.remove('active');
              });
              this.classList.add('active');
            });
          });
        });
        function confirmLogout() {
          if (confirm("Are you sure you want to log out?")) {
            window.location.href = "/logout";
          }
        }

        var userMenu = document.getElementById('user-menu');
        userMenu.addEventListener('change', function() {
          var selectedValue = this.value;
          if (selectedValue == "/logout") {
            confirmLogout();
          }else{
            window.location.href = selectedValue;
          }
        });

      document.addEventListener("DOMContentLoaded", function() {
      var form = document.querySelector('form');
      var overlay = document.querySelector('.overlay');
      var alertMessage = document.querySelector('.alert-success');
      var closeButton = alertMessage.querySelector('.close');

      form.addEventListener('submit', function(event) {
        event.preventDefault(); // prevent the form from submitting normally

        // Disable the window with an overlay
        overlay.style.display = 'block';

        // Show the alert message
        alertMessage.style.display = 'block';

        // Hide the overlay and submit the form data to the backend when the alert is closed
        closeButton.addEventListener('click', function() {
          alertMessage.style.display = 'none';
          overlay.style.display = 'none';
          form.submit(); // submit the form data to the backend
        });
      });
    });


    </script>
  </body>
</html>
