<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>

      /* define css grid */
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      .grid-container {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 0.8fr 5fr;
        grid-template-rows: auto 1fr auto;
        
      }
      .header {
        display: flex;
        justify-content: center;
        align-items: baseline;
        grid-column: 1 / span 2;
        background-color: #004cffc7;
        color: white;
        padding: 0.5rem;
        position:relative;
        gap: 75rem;
        border-radius: 10px;
      }
      .sidebar {
        grid-row: 2 / span 1;
        background-color: #f8f9fa20;
        padding: 1rem;
      }
      .main {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        padding: 1rem;
      }
      .footer {
        grid-column: 1 / span 2;
        background-color: rgba(79, 112, 171, 0.569);
        color: white;
        padding: 1rem;
        text-align: center;
      }

    /*style for form element*/
      .form-group label {
        font-weight: bold;
        margin-bottom: 5px;
        text-transform: uppercase;
      }
      .form-control {
        border-radius: 0;
      }
      .form-control:focus {
        box-shadow: none;
      }
      .form-group small {
        color: #6c757d;
        font-size: 12px;
      }

    /* sidebar style */
      .nav-item {
        margin-bottom: 10px;
      }
      .nav-link {
        display: block;
        width: 80%;
        padding: 10px;
        text-decoration: none;
        color: black;
        background-color: #f7f7f7;
        border-radius: 1rem;
      }
      .nav-link.active {
        background-color: #007bff;
        color: white;
      }

      /*style for the list */
      .dropdown-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .dropdown {
        position: relative;

      }
      .dropdown-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #eee;
        padding: 10px;
        cursor: pointer;
      }
      .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        max-height: 0;
        overflow: hidden;
        width: 100%;
        transition: max-height 0.3s ease-out;
      }
      .dropdown-menu li {
        padding: 5px 0;
        cursor: pointer;
      }
      .dropdown-menu li:hover {
        background-color: #eee;
      }
      .arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #555 transparent transparent transparent;
        margin-left: 10px;
      }
      li {
        display: flex;
        gap:10rem;
        align-items: center;
      }
      li span {
        margin-right: 10px;
      }

    </style>
  </head>
  <body>
    <div class="grid-container">

      <div class="header">
        <div><h1 id = "headTitle">TU_Labs</h1></div>
        <div><select name = "user" style="border:none;box-shadow:none;" id="user-menu">
          <option value="" disabled selected><%= user %></option>
          <option value="/login/Instructor">My Courses</option>
          <option value="/logout">Logout</option>
        </select></div>
      </div>

      <div class="sidebar">
        <p> <%=course%></p>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/login/Instructor/<%=course %>">Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/login/Instructor/<%=course %>/grade">Submissions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login/Instructor/<%=course %>/report">Reports</a>
          </li>
        </ul>
      </div>

      <div class="main">
        <% for (let i = 0; i < assignment.length; i++) { %>
          <div class="dropdown-container">
            <div class="dropdown">
              <div class="dropdown-header">
                <span><%= assignment[i].title %></span>
                <div class="arrow"></div>
              </div>
              <ul class="dropdown-menu">
                <% for (let j = 0; j < submission[i].length; j++) { %>
                  <li><span><%= submission[i][j].RollNo %></span>
                 <span><a href="/login/Instructor/<%=course %>/download/<%= submission[i][j]._id%>"> Download</a></span>
                 <span>Max-point: <%=assignment[i].points%></span>
                 <span><%=submission[i][j].type %></span>
                 <span>
                  <form action="/login/Instructor/<%=course %>/submit/<%= submission[i][j]._id%>" method="post">
                    <input name = "grade" type = "number" value="<%=submission[i][j].grade%>">
                    <button type="submit">submit</button>
                  </form>
                </span>
                </li>
                <% } %>
              </ul>
            </div>
          </div>
        <% } %>
      </div>   

      <div class="footer">
          <p>&copy; 2023 anubhavbinit</p>
      </div>

    </div>

    <script>
      /*for sidebar */
        document.addEventListener('DOMContentLoaded', function() {
          var navLinks = document.querySelectorAll('.nav-link');
          navLinks.forEach(function(navLink) {
            navLink.addEventListener('click', function() {
              navLinks.forEach(function(link) {
                link.classList.remove('active');
              });
              this.classList.add('active');
            });
          });
        });
      /*logout confiramtion alert*/
        function confirmLogout() {
          if (confirm("Are you sure you want to log out?")) {
            window.location.href = "/logout";
          }
        }
      /*dropdown menu */
        var userMenu = document.getElementById('user-menu');
        userMenu.addEventListener('change', function() {
          var selectedValue = this.value;
          if (selectedValue == "/logout") {
            confirmLogout();
          }else{
            window.location.href = selectedValue;
          }
        });
      /*assignemnt list control */
      var dropdowns = document.querySelectorAll('.dropdown');
      dropdowns.forEach(function(dropdown) {
        var header = dropdown.querySelector('.dropdown-header');
        var menu = dropdown.querySelector('.dropdown-menu');
        
        header.addEventListener('click', function() {
          if (menu.style.maxHeight) {
              menu.style.display = "none";
              menu.style.maxHeight = null;
          } else {
            // close all other dropdown menus
            dropdowns.forEach(function(otherDropdown) {
              if (otherDropdown != dropdown) {
                var otherMenu = otherDropdown.querySelector('.dropdown-menu');
                otherMenu.style.display = "none";
                otherMenu.style.maxHeight = null;

              }
            });
            // open this dropdown menu
            menu.style.display = "block";
            menu.style.maxHeight = menu.scrollHeight + 'px';
          }
        });
      });

      // const form = document.querySelector('form');

      // form.addEventListener('submit', async (event) => {
      //   event.preventDefault();
      //   const formData = new FormData(form);

      //   try {
      //     const response = await fetch('/login/Instructor/' + course + '/submit/'+ submissionID, {
      //       method: 'POST',
      //       body: formData,
      //     });
      //     } catch (error) {
      //     console.error(error);
      //     alert('An error occurred while submitting the form');
      //     }
      //   });

    </script>

  </body>
</html>
