<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/e1942af5f1.js" crossorigin="anonymous"></script>
<style>
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color:  #E1E1E1 ;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.8fr 5fr;
  grid-template-rows: 60px 1fr 50px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  grid-column: 1 / span 2;
  background-color:  #F2F2F2  ;
  color:  #1F1F1F ;
  padding: 0.5rem;
  position: relative;
  gap: 72rem;
  border-radius: 10px;
}

.sidebar {
  grid-row: 2 / span 1;
  background-color: #FFFFFF ;
  padding: 1rem;
  margin:5px
}

.main {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  padding: 0.5rem 1rem;
}

.footer {
  grid-column: 1 / span 2;
  background-color:  #F2F2F2 ;
  color: #1F1F1F;
  padding: 1rem;
  text-align: center;
  margin:3px
}

.subheader{
  background-color: #F8F8F8 ;
  color: #1F1F1F;
  padding: 0.5rem;
  display: block;
  border-radius: 5px;
  margin: 3px 3px 7px 3px ;
}
.submain{
  background-color: #F8F8F8;
}

/* Style the submit button */
button[type="submit"] {
  background-color: #2c3e50;
  border-color: #2c3e50;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
button[type="submit"]:hover {
  background-color: #046380;
  border-color: #046380;
}

/* Style the sidebar */
.sidebar .nav-item a,
.sidebar .nav-item a::after,
.sidebar .nav-item a::before {
  box-sizing: content-box;
}
.nav-item {
  margin-bottom: -15px;
}
.nav-link {
  display: block;
  width: 80%;
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: #2c3e50;
  border-radius: 1rem;
}
.nav-link.active {
  background-color: #046380;
  color: white;
}
i {
  margin-right: 5px;
}

/*style the assignment card */
.assignments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
}
.assignment {
  display: inline-block;
  width: 30%;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.645);
  background-color: #ffffff72;
  margin: 1rem 1rem;
}
.assignment:hover{
  cursor: pointer;
}
.title {
  font-size: 1rem;
  margin-bottom: 10px;
  background-color:#CCCCCC;
  width: auto;
}
.submission-date {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.download-btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #046380;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.download-btn:hover {
  background-color: #2c3e50;
  transform: translateY(-3px);
}

/*style popup element*/
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  margin: 5px 0;
}
.popup-description {
  border: 1px solid gray;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
}
.popup-details {
  display: flex;
  gap: 100px;
}
@media only screen and (max-width: 768px) {
  .popup-details {
    flex-direction: column;
  }
}
.close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: red;
  cursor: pointer;
}

</style>

</head>
  <body>
    <div class="grid-container">
      <div class="header">
        <div><h3 id = "headTitle" style="font-weight: bold;">TU_Labs</h3></div>
        <div><select name = "user" style="border:none;box-shadow:none;" id="user-menu">
          <option value="" disabled selected><%= user %></option>
          <option value="/login/Student">My Courses</option>
          <option value="/logout">Logout</option>
        </select></div>
      </div>
      <div class="sidebar">
        <p><%=course%></p>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/login/Student/<%=course %>">
            <i class="fa-solid fa-file"></i> Assignments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login/Student/<%=course %>/announcement">
            <i class="fa-solid fa-file-arrow-up"></i> Announcement
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login/Student/<%=course %>/submissions">
            <i class="fa-solid fa-file-arrow-up"></i> Submissions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login/Student/<%=course %>/report"> 
            <i class="fa-solid fa-square-poll-vertical"></i> Reports</a>
        </li>
       </ul> 
      </div>
    <div class="main">
      <div class="subheader"><h3>Assignments</h3></div>
      <div class="submain">
        <% assignments.forEach(assignment => { %>
          <div class="assignment" onclick="showPopup('<%= assignment.title %>', '<%= new Date(assignment.submissionDate).toLocaleString('en-US',{ dateStyle: 'medium'}) %>' , '<%= assignment.issuedDate %>', '<%= assignment.description%>','<%= assignment.points %>', '/login/Student/<%=course %>/download/<%= assignment._id%>','<%= assignment.path %>')">
            <span class="title"><%= assignment.title %></span>
            <p class="submission-date">Submission Date: <%= new Date(assignment.submissionDate).toLocaleString('en-US', { dateStyle: 'medium' }) %></p>
            <button class="download-btn">Details</button>
          </div>
          <!-- Popup box -->
          <div id="popup" class="popup">
            <div class="popup-content">
              <span class="close" onclick="closePopup()">&times;</span>
              <div class="popup-details">
                <p id="popup-issued-date"></p>
                <p id="popup-points"></p>
              </div>
              <div class="popup-details">
                <p id="popup-title"></p>
                <p id="popup-submission-date"></p>
              </div>
              <div class="popup-description">
                <p id="popup-description-text"></p>
              </div>
              <a id="popup-download-btn"></a><br>
              <form action="/login/Student/<%=course %>/submit/<%= assignment._id%>" method="post" enctype="multipart/form-data">
                <label for="file">Upload your file:</label>
                <input type="file" id="file" name="file" required>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        <% }); %>
      </div>
      </div>
      <div class="footer">
          <p>&copy; 2023 anubhavbinit</p>
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var navLinks = document.querySelectorAll('.nav-link');
        navLinks.forEach(function(navLink) {
          navLink.addEventListener('click', function() {
            navLinks.forEach(function(link) {
              link.classList.remove('active');
            });
            this.classList.add('active');
          });
        });
      });

      function showPopup(title, submissionDate, issuedDate, description,points,downloadLink,path) {
        // Set the values in the popup
        document.getElementById("popup-title").innerHTML = title;
        document.getElementById("popup-submission-date").innerHTML = "Due:" + submissionDate;
        document.getElementById("popup-issued-date").innerHTML = "Issued:" + issuedDate;
        if (description) {
          document.getElementById("popup-description-text").innerHTML = description;
          document.getElementsByClassName("popup-description")[0].style.display = "block";
        } else {
          document.getElementsByClassName("popup-description")[0].style.display = "none";
        }
        document.getElementById("popup-points").innerHTML = "Points: " + points;
        if (path) {
          document.getElementById("popup-download-btn").innerHTML = "Download attachment";
          document.getElementById("popup-download-btn").href = downloadLink;
          document.getElementById("popup-download-btn").style.pointerEvents = "cursor";
        } else {
          document.getElementById("popup-download-btn").innerHTML = "No attachment";
          document.getElementById("popup-download-btn").href = "#";
          document.getElementById("popup-download-btn").style.pointerEvents = "none";
        }

        // Show the popup
        document.getElementById("popup").style.display = "block";
      }

      function closePopup() {
        // Hide the popup
        document.getElementById("popup").style.display = "none";
      }

      function confirmLogout() {
        if (confirm("Are you sure you want to log out?")) {
          window.location.href = "/logout";
        }
      }

      var userMenu = document.getElementById('user-menu');
      userMenu.addEventListener('change', function() {
        var selectedValue = this.value;
        if (selectedValue == "/logout") {
          confirmLogout();
        }else{
          window.location.href = selectedValue;
        }
      });
    </script>
  </body>
</html>
